$brainflix-black: #323232;
$brainflix-silver: #AFAFAF;
$brainflix-mercury: #E1E1E1;
$brainflix-albaster: #FAFAFA;
$brainflix-instock-blue: #004892;
$brainflix-blue: #0095ff;
$brainflix-instock-blue-dark: #002f5f;
$brainflix-blue-dark: #0065ad;
