@import "../../partials/mixins";
@import "../../partials/partials";
@import "../../App";
@use '../../partials/typography' as *;


// ----- Header Component -----

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $brainflix-mercury;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 2rem;
    padding-bottom: 1rem;
  }
  @include desktop {
    margin: 1rem 8rem 0;
  }
}

.header {
  &__logo {
    height: 1.5rem;
    margin-top: 0.5rem;
  }
  &__container {
    margin-bottom: 1rem;
    @include tablet {
      margin-bottom: 0;
      display: inline-flex;
      align-items: center;
    }
  }

  &__search-bar {
    margin: 0.5rem 0;
    position: relative;
  }

  &__input {
    background-color: #fafafa;
    border: 2px solid #e1e1e1;
    border-radius: 5px;
    height: 3rem;
    width: 90vw;
      &:focus {
          outline: none;
          border: 2px solid $brainflix-blue;
      }
    @include tablet {
      width: 15rem;
    }
    &::placeholder {
    padding-left: 3rem;
    font-size: 0.875rem;
    color: #323232;
  }
  }
  &__upload {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }

  &__img {
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    object-fit: cover;
    object-position: left;
    margin-left: 1rem;
  }

  &__button {
    @extend h4;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72vw;
    height: 3rem;
    color: #fff;
    background-color: #0095ff;
    border-radius: 5px;
    text-transform: uppercase;

      &:hover {
        background-color: $brainflix-blue-dark;
      }
    @include tablet {
      width: 15vw;
      margin-left: 1rem;
    }
    @include desktop {
      width: 10vw;
    }
  }

  &__icon {
    padding-right: 1rem;
  }

  &__search-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
}