@import 'partials/mixins';
@import 'partials/partials';
@use 'partials/typography' as *;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// ----- Fonts -----
h1,h2,h3,h4,h5,h6,p,label {
    font-family: 'Avenir';
    color: $brainflix-black;
}

h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 900;
    font-style: normal;
}

h2 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 900;
    font-style: normal;
}

h4 {
    font-size: 13px;
    line-height: 18px;
    font-weight: 300;
    font-style: normal;
}

h6, label {
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 900;
    font-style: normal;
    color: #E1E1E1;
}

p {
    font-size: 13px;
    line-height: 18px;
}

// ----- Header Component -----

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    @include tablet {
        flex-direction: row;
        justify-content: flex-end;
        margin: 1rem 2rem;
    }
    @include desktop {
        margin: 1rem 6rem;
    }
}

.header__logo {
    height: 1.5rem;
    margin-top: 0.5rem;
}

.header__search-bar {
    margin: 0.5rem 0;
    position: relative;

}

.header__input {
    background-color: #FAFAFA;
    border: 2px solid #E1E1E1;
    border-radius: 5px;
    height: 3rem;
    width: 90vw;
    @include tablet {
        width: 30vw;
    }
}

.header__input::placeholder {
    padding-left: 3rem;
    font-size: 14px;
    color: #323232;
}

.header__upload {
    display: inline-flex;
}

.header__img {
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    object-fit: cover;
    object-position: left;
    margin-left: 1rem;
}

.header__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    border: none;
    color: #fff;
    background-color: #0095ff;
    border-radius: 5px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    @include tablet {
        width: 15vw;
        margin-left: 1rem;
    }
    @include desktop {
        width: 10vw;
    }
}

.header__icon {
    padding-right: 1rem;
}

.header__search-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
}


// ----- Video Component -----

.video {
    margin: 1rem 0;
}

// ----- Video Info Component ----- 


// ----- Comments Component ----- 


// ----- Sidebar Component ----- 